* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border:1px solid red; */
}
.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.head {
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 10px 40px;
  font-style: italic;
  font-size: 25px;
  font-weight: 800;
  color: white;
  background-color: #1abc9c;
}
.subcontainer {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
}

.enroll,
.list {
  height: 100%;
  width: calc(50% - 6px);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}
.enroll .form {
  width: 60%;
  margin: 60px 25% 0px 15%;
}
.name,
.email,
.phone,
.website,
.image,
.skills,
.gender {
  height: 45px;
  margin: 7.5px 0px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}
.btnHolder {
  display: flex;
  justify-content: space-evenly;
}
.btnHolder button {
  height: max-content;
  padding: 8px 15px;
  border: none;
  width: max-content;
  border-radius: 5px;
}
#reset {
  background-color: #eb4d4b;
  color: white;
}
#submit {
  background-color: #1abc9c;
  color: white;
}
.enroll form div label {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}
.name input,
.email input,
.phone input,
.image input,
.website input {
  height: 30px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
}
.gender input,
.skills input {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin-left: 10px;
}
.subHead {
  height: 40px;
  width: max-content;
  margin: 25px auto 20px auto;
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
}

/* separator  */
.separator {
  align-self: center;
  height: 80%;
  width: 6px;
  background-color: #1abc9c;
}

#detailsBody {
  height: 75%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  width: 70%;
  margin: 0px auto;
  overflow: auto;
}
.candidate:nth-of-type(even) {
  background-color: rgba(44, 62, 80, 0.7);
  color: white;
}
.candidate {
  margin: 8px 6px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  /* background-color: #eb4d4b; */
  height: max-content;
  display: flex;
  flex-flow: row;
}
.desc {
  width: 68%;
  padding: 10px;
  font-style: italic;
  font-weight: 15px;
  font-weight: 600;
}
.stimage {
  width: 28%;
  height: auto;
  background-color: #1abc9c;
  background-image: url("./images/download.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.chead {
  height: 40px;
  width: 100%;
  text-align: center;
  padding: 10px 40px;
  font-style: italic;
  font-size: 18px;
  font-weight: 800;
  color: white;
  background-color: #2c3e50;
}

/* responsiveness */

@media screen and (max-width: 500px) {
  .subcontainer {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  .enroll,
  .list {
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
  }
  .enroll .form {
    width: 90%;
    margin: 60px 5% 0px 5%;
  }
  .separator {
    display: none;
    align-self: center;
    height: 80%;
    width: 6px;
    background-color: #1abc9c;
  }
  #detailsBody {
    height: 75%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 0px auto;
    overflow: auto;
  }
  .container {
  height: 120vh;
  width: 100vw;
  overflow: hidden;
}
}


